.container {
  text-align: center;
  padding: 2rem;
  margin: 30px 20px;
}

.BCheading {
  font-family: "Circular Std";
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.BCdesc {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  font-size: 24px;
  line-height: 36px;
  color: #7c7c82;
  text-align: center;
}

.signupButton {
  font-family: "Circular Std";
  font-style: normal;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  width: 200px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}

.signupButton:hover {
  background-color: #0056b3;
}

.Become {
  margin-left: 10px;
  margin-bottom: 0px;
  color: #f46522;
}

.A {
  margin-left: 10px;
  color: #114c9f;
  margin-bottom: 0px;
  margin-right: 10px;
}
