.highlightsSection {
  text-align: center;
  padding: 50px 20px;
  background-color: #faf3f0;
}

.sectionTitle {
  font-family: "Circular Std";
  font-size: 40px;
  font-weight: 700;
  line-height: 51px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.highlightsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.highlightCard {
  border-radius: 10px;
  padding: 40px;
  width: 28%;
  margin: 10px;
  color: white;
  text-align: center;
}
@media (max-width: 768px) {
  .highlightCard {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .highlightCard {
    width: 100%;
  }
}

.highlightAmount {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  padding: 3rem 2rem 1rem 30px;
  letter-spacing: 0.01em;
  color: #fff;
}

.highlightDescription {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  padding: 0px 10px 0px 30px;
}

.Become {
  margin-left: 10px;
  margin-bottom: 0px;
  color: #f46522;
}

.A {
  margin-left: 10px;
  color: #114c9f;
  margin-bottom: 0px;
  margin-right: 10px;
}
