.lPOuterContainer {
    position: relative;
    flex: 1;
    height: fit-content;
    background-color: black;
    /* margin-top: 75px; */
}

.backGroundImage {
    position: relative;
    background-image: url('../../../../public/Images/landingPageImage.jpeg');
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
}

.textContainer {
    position: absolute;
    width: 50%;
    color: white;
    top: 30px;
    left: 30px;
}

.backGroundImage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(40, 40, 40), rgba(255, 255, 255, 0));
}

.headinContainer {
    width: 80%;
    margin-bottom: 30px;
}

.headingText {
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.subheadingText {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.paraContainer {
    margin-bottom: 30px;
}

.paraText {
    color: white;
    font-size: 20px;
}

.searchContainer {
    position: absolute;
    /* opacity: 0.8; */
    background-color: white;
    left: 75%;
    transform: translateX(-50%);
    top: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
}

.submiteButton {
    /* margin-top: 25px; */
    margin: 25px 30px 0px 10px;
}

.submiteButton button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 450px) {
    .textContainer {
        width: 90%;
    }

    .headingText {
        font-size: 40px;
    }

    .subheadingText {
        font-size: 15px;
    }

    .paraText {
        font-size: 15px;
    }

    .searchContainer {
        position: absolute;
        /* opacity: 0.8; */
        background-color: white;
        left: 10%;
        transform: translateX(0%);
        top: 85%;
        margin-bottom: 10px;
        width: 80%;
        height: 350px;
        display: flex;
        flex-direction: column;
        border-radius: 13px;
        align-items: center;
        justify-content: center;
    }

}