.outerContainer {
    width: 340px;
    height: 410px;
    margin: 20px;
    padding: 20px;
    display: flex;
    background-color: #ABC1DC;
    flex-direction: column;
    box-shadow: 0px 2px 12px 0px #FFFFFF;
    align-items: center;
    border-radius: 10px;
}

.outerContainer img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.outerContainer p {
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 5%;
    margin-inline: 20px;
    margin-top: 5%;
}