.reviewsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  min-height: fit-content;
  padding: 50px 100px;
}

@media (max-width: 991px) {
  .reviewsSection {
    padding: 20px 20px;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.reviewsContent {
  position: relative;
  display: flex;
  width: 1287px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.sectionSubtitle {
  color: #f16126;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 500 18px/150% Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

.sectionTitle {
  color: #101115;
  text-align: center;
  margin-top: 10px;
  font: 700 40px/130% Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .sectionTitle {
    max-width: 100%;
    margin-top: 40px;
  }
}

.reviewsContainer {
  align-self: stretch;
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .reviewsContainer {
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.reviewCard {
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: #555;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 20px 36px;
}

@media (max-width: 991px) {
  .reviewCard {
    margin-top: 20px;
    padding: 20px 20px;
  }
}

.profileImage {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 100px;
  border: 2px solid rgba(241, 97, 38, 1);
  border-radius: 50%;
  max-width: 100%;
}

.reviewText {
  font-family: Barlow, sans-serif;
  line-height: 27px;
  align-self: stretch;
  margin-top: 38px;
}

.reviewerName {
  color: #101115;
  font-family: Barlow, sans-serif;
  font-weight: 700;
  line-height: 130%;
  margin-top: 27px;
}

.reviewerTitle {
  margin-top: 22px;
  font: 13px/150% Barlow, sans-serif;
}
