.FooterContainer {
    background-color: black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

}

.row1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0px 50px;
    /* flex-wrap: wrap; */
}

.row2 {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0px 50px;
    /* flex-wrap: wrap; */
}

.col1 {
    margin: 30px;
    width: 265px;
}

.col2 {
    margin: 30px;
}

.col3 {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.col4 {
    width: 250px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .FooterContainer {
        flex-direction: column;
    }

    .row1 {
        margin: 10px;
    }

    .row2 {
        margin: 10px;
    }

    .col1 {
        margin: 10px;

    }

    .col2 {
        margin: 10px;
    }

    .col3 {
        margin: 10px;
    }

    .col4 {
        margin: 10px;
    }

}

@media screen and (max-width: 1024px) {
    .FooterContainer {
        flex-direction: column;
    }

    .row1 {
        margin: 10px;
    }

    .row2 {
        margin: 10px;
    }

    .col1 {
        margin: 10px;

    }

    .col2 {
        margin: 10px;
    }

    .col3 {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .col4 {
        margin: 10px;
    }

}