.benefitsSection {
  background-image: url("../../../../public/Images/Asserts/benefits.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 60px;
}

@media (max-width: 991px) {
  .benefitsSection {
    margin-top: 40px;
    background-image: none;
    background-color: #ffdf40;
    padding: 10px;
    align-items: center;
  }
}

.benefitsContainer {
  width: 1557px;
  max-width: 100%;
  padding: 39px 80px 39px 0;
}

@media (max-width: 991px) {
  .benefitsContainer {
    padding-right: 20px;
  }
}

.benefitsContent {
  display: flex;
  gap: 20px;
}

@media (max-width: 991px) {
  .benefitsContent {
    flex-direction: column;
    gap: 0;
  }
}

.imageColumn {
  width: 42%;
}

@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}

.benefitsImage {
  aspect-ratio: 0.88;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 991px) {
  .benefitsImage {
    max-width: 100%;
    margin-top: 40px;
  }
}

.textColumn {
  width: 58%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .textColumn {
    width: 100%;
  }
}

.benefitsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #101115;
  font-weight: 700;
  margin-top: 117px;
}

@media (max-width: 991px) {
  .benefitsText {
    max-width: 100%;
    margin-top: 40px;
  }
}

.benefitsTitle {
  margin-left: 13px;
  font-weight: 700 !important;
  font: 40px Barlow, sans-serif;
}

@media (max-width: 991px) {
  .benefitsTitle {
    margin-left: 10px;
  }
}

.benefitsList {
  margin-top: 48px;
  font: 400 18px/24px Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .benefitsList {
    max-width: 100%;
    margin-top: 40px;
  }
}

.benefitItem {
  margin-bottom: 10px;
}

.applyButton {
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  margin: 82px 0 0 13px;
  padding: 15px 30px;
  font: 16px/150% Barlow, sans-serif;
  cursor: pointer;
}

@media (max-width: 991px) {
  .applyButton {
    margin: 40px 10px;
    padding: 10px 20px;
    width: 80%;
    align-self: center;
  }
}

.description {
  margin-top: 33px;
  font: 400 18px/24px Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
    text-align: justify;
  }
}
