.learningPrograms {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  margin: 0 auto;
  width: 80%;
  padding: 50px 20px;
}

@media (max-width: 991px) {
  .learningPrograms {
    width: 80%;
    padding: 30px 0px;
  }
}
@media (max-width: 375px) {
  .learningPrograms {
    width: 90%;
    padding: 30px 0px;
  }
}

.sectionTitle {
  color: #101115;
  text-align: center;
  align-self: center;
  font: 40px/130% Barlow, sans-serif;
}

@media (max-width: 991px) {
  .sectionTitle {
    max-width: 100%;
  }
}

.programsContainer {
  display: flex;
  margin-top: 51px;
  align-self: center;
  width: 90%;
  gap: 100px;
}

@media (max-width: 991px) {
  .programsContainer {
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
  }
}

.programCard {
  height: 420px;
  position: relative;
  border-radius: 15px;
  background-color: rgba(120, 94, 255, 0.48);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 30px 30px 20px;
}

@media (max-width: 991px) {
  .programCard {
    max-width: 100%;
    padding: 20px 20px;
  }
}
@media (max-width: 1024px) {
  .programCard {
    max-width: 100%;
    padding: 20px 20px;
    height: 470px;
  }
}

.programTitle {
  text-align: center;
  font: 24px/217% Barlow, sans-serif;
  font-weight: 700;
}

.programDescription {
  /* text-align: center; */
  font-family: Barlow, sans-serif;
  font-weight: 400;
  margin-left: 14px;
}

.programFeatures li {
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* align-self: center; */
}

.programButton {
  bottom: 20px;
  position: absolute;
  font-family: Barlow, sans-serif !important;
  border-width: 2px !important;
  align-self: center !important;
  font-weight: 700 !important;
  width: 80%;
  justify-content: center;
  padding: 10px 20px !important;
}

@media (max-width: 991px) {
  .programButton {
    padding-right: 20px;
  }
}
