.howInnovartanHelpsSchools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

.sectionSubtitle {
  color: #4f4f4f;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 500 18px/150% Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

.sectionTitle {
  color: #101115;
  text-align: center;
  margin-top: 25px;
  font: 700 40px/130% Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .sectionTitle {
    max-width: 100%;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

@media (max-width: 991px) {
  .contentWrapper {
    max-width: 100%;
    margin-top: 10px;
  }
}

.row {
  gap: 50px;
  display: flex;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

.imageColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 991px) {
  .imageColumn {
    width: 100%;
  }
}

.featuredImage {
  aspect-ratio: 1.59;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 991px) {
  .featuredImage {
    max-width: 100%;
    margin-top: 40px;
  }
}

.textColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .textColumn {
    width: 100%;
    margin-top: -30px;
  }
}

.textContent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 16px;
}

@media (max-width: 991px) {
  .textContent {
    max-width: 100%;
    margin-top: 40px;
  }
}

.description {
  color: #000;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  line-height: 24px;

  text-align: justify;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.ctaButton {
  font-family: Barlow, sans-serif;
  justify-content: center;
  border-radius: 4px;
  border: 2px solid rgba(255, 223, 64, 1);
  align-self: start;
  margin-top: 23px;
  color: #101115;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 18px 33px;
  background: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .ctaButton {
    padding: 20px 20px;
    align-self: center;
  }
}
