.servicesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 100px;
}

@media (max-width: 991px) {
  .servicesSection {
    padding: 30px 20px;
  }
}

.sectionTitle {
  font: 500 18px/260% Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  margin: 0px;
}

.sectionSubtitle {
  color: #101115;
  align-self: stretch;
  width: 100%;
  font-weight: 700 !important;
  font: 40px Barlow, sans-serif;
}

@media (max-width: 991px) {
  .sectionSubtitle {
    max-width: 100%;
  }
}

.servicesList {
  margin-top: 20px;
  padding: 0px 0px;
  font: 400 18px/42px Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .servicesList {
    margin-top: 40px;
  }
}

.registerButton {
  justify-content: center;
  border-width: 2px !important;
  margin-top: 29px;
  font-weight: 700 !important;
  padding: 10px 20px !important;
  font: 16px/150% Barlow, sans-serif;
}

@media (max-width: 991px) {
  .registerButton {
    padding: 20px 20px;
  }
}

.serviceCard {
  align-items: center;
  justify-content: center;
  background-color: #ffdf40d9;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
  transition: 0.3s;
}

.serviceCard:hover {
  transform: scale(1.4);
}

.serviceCard p {
  font: 18px Barlow, sans-serif;
  color: #101115;
  margin: 0px;
  /* margin: 0px; */
}
