.about {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 30px;
  background-color: #fff;
}

.aboutdiv1 {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  /* padding: 0px 50px; */
}

.aboutdiv1image1 {
  position: relative;
  width: 90%;
  object-fit: contain;
  margin-bottom: 20px;
}
.aboutdiv2 {
  align-self: flex-start;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px;
}

.aboutdiv2 h1 {
  font-size: 40px;
  font-weight: 700;
  /* margin-bottom: 30px; */
}

.aboutdiv2text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #555555;
  text-align: justify;
}

.aboutButton {
  width: 150px;
  margin-top: 20px;
  padding: 10px 20px !important;
  font-weight: 700 !important;
  border-width: 2px !important;
}
.aboutOurInnovartan {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: #fff9f1;
}

.aboutOurInnovartandiv1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.aboutOurInnovartandiv1image1 {
  position: relative;
  width: 90%;
  object-fit: contain;
  margin-bottom: 20px;
}
.aboutOurInnovartandiv1image2 {
  position: absolute;
  width: 60%;
  aspect-ratio: 3/2;
  object-fit: contain;
  right: -40px;
  bottom: -30px;
}
.aboutOurInnovartandiv2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.aboutOurInnovartandiv2 h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.aboutOurInnovartandiv2text {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  color: #555555;
}
.OurMission {
  width: 100%;
}

@media screen and (max-width: 908px) {
  .about {
    flex-direction: column;
    width: 100%;
    padding: 30px 10px;
  }
  .aboutdiv1image1 {
    width: 100%;
  }
  .aboutdiv1 {
    width: 100%;
    padding: 0px 10px;
    margin-top: 0px;
  }
  .aboutdiv2 {
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 0px 20px;
  }
  .aboutdiv2 h1 {
    font-size: 40px;
    text-align: center;
  }
  .aboutdiv2 p {
    /* text-align: center; */
  }
  .aboutdiv2text {
    font-size: 16px;
  }
  .aboutOurInnovartan {
    flex-direction: column;
  }
  .aboutOurInnovartandiv1 {
    padding: 0px 20px;
  }
  .aboutOurInnovartandiv2 {
    align-items: center;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  .aboutOurInnovartandiv2 h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 70px;
  }
  .aboutOurInnovartandiv2text {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .aboutOurInnovartan {
    flex-direction: column;
  }
  .aboutOurInnovartandiv1 {
    padding: 0px 20px;
  }
  .aboutOurInnovartandiv1image1 {
    width: 80%;
  }
  .aboutOurInnovartandiv1image2 {
    width: 50%;
    right: 0px;
    bottom: -20px;
  }
}
