.impactSection {
  background-color: #002147;
  /* padding: 50px 100px; */
}

.impactContainer {
  display: flex;
  /* gap: 20px; */
}

@media (max-width: 1024px) {
  .impactContainer {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.impactColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 41%;
  margin-left: 0;
}

@media (max-width: 1024px) {
  .impactColumn {
    width: 100%;
  }
}

.impactHighlight {
  background-color: #fdca92;
  display: flex;
  flex-grow: 1;
  align-items: center;
  color: #000;
  font-weight: 700;
  justify-content: center;
  width: 100%;
  padding: 45px 60px;
}

@media (max-width: 1024px) {
  .impactHighlight {
    max-width: 100%;
    padding: 20px 20px;
  }
}

.impactHighlightContent {
  display: flex;
  margin-top: 41px;
  width: 212px;
  max-width: 100%;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .impactHighlightContent {
    margin-top: 0px;
  }
}

.impactHighlightTitle {
  font: 40px/130% Barlow, sans-serif;
  font-weight: 700;
}

.impactHighlightCta {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  line-height: 150%;
  padding: 0 10px 0 33px;
}

.impactHighlightImage {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 110px;
  max-width: 100%;
}

.impactHighlightButton {
  font-family: Barlow, sans-serif;
  justify-content: center;
  align-items: start;
  margin-top: 26px;
  padding: 10px 20px !important;
  border-width: 2px !important;
  font-weight: 700 !important;
}

@media (max-width: 1024px) {
  .impactHighlightButton {
    padding: 0 20px;
  }
}

.impactColumnInner {
  display: flex;
  flex-direction: column;
  width: 40%;
}

@media (max-width: 1024px) {
  .impactColumnInner {
    width: 100%;
    padding-bottom: 40px;
  }
}

.impactCard {
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  width: 90%;
  height: 60%;
  flex-direction: column;
  margin: auto;
  padding: 25px 21px 74px;
}

@media (max-width: 1024px) {
  .impactCard {
    margin-top: 40px;
  }
}

.impactCardHeader {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: #101115;
  font-weight: 700;
  line-height: 130%;
}

.impactCardIcon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 70px;
}

.impactCardTitle {
  font-family: Barlow, sans-serif;
  align-self: start;
  margin-top: 14px;
  flex-grow: 1;
  flex-basis: auto;
}

.impactCardDescription {
  color: #555;
  margin-top: 18px;
  font: 400 18px/24px Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}
