.outerNavbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}

@media screen and (max-width: 908px) {
  .outerNavbar {
    padding: 0px 10px;
  }
}

.outer-container {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  transition: background-image 1s ease-in-out;
}
.outer-container2 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  transition: background-image 1s ease-in-out;
}

.outer-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  transition: background-image 1s ease-in-out;
}

.outer-container1 h2 {
  font-size: 40px;
  color: #000;
  margin-top: 5%;
}

.outer-container1 p {
  font-size: 16px;
  color: #000;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  /* padding: 0px 0px 0px 0px; */
  border-bottom: 1px solid #1011151a;
  margin-bottom: 20px;
}
.infoInner {
  border-left: 1px solid #1011151a;
  width: 60%;
  display: flex;
  padding: 0px 0px 0px 50px;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 1300px) {
  .info {
    padding: 0px 10px;
  }
  .infoInner {
    padding: 0px 0px 0px 10px;
  }
}

.ourServices {
  background-color: #f46522 !important;
  border-color: #f46522 !important;
}
.loginButton {
  background-color: #f46522 !important;
  border-color: #f46522 !important;
  margin-left: 20px;
  width: 120px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 20px 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #0D4BA5;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #0D4BA5;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 908px) {
  .outer-container1 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    transition: background-image 1s ease-in-out;
  }

  /* .outer-container2 {
    height: 65vh;
  } */
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: 2;
    top: 50px;
    right: -300px;
    width: 300px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
    height: 500px;
  }

  .info {
    display: none;
  }

  #navbar li {
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    width: 90%;
    text-align: left;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
  .outer-container {
    background-size: cover;
    height: 50vh;
  }

  #navbar div {
    padding-bottom: 20px;
    padding-left: 10px;
    width: 90%;
    border-bottom: 1px solid #000;
  }
  .loginButton {
    margin-left: 10px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .outer-container {
    background-size: 100% 100%;
    background-position: center;
    height: 70vh;
  }
  .outer-container1 h2 {
    text-align: center;
    font-size: 30px;
    color: #000;
    margin-top: 13%;
  }
  /* .outer-container2 {
    height: 85vh;
  } */
}
