.outerContainer {
  display: flex;
  width: 100%;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 20px;
}
.innerContainer h2 {
  font-size: 20px;
  font-weight: 700;
}

.innerContainer p {
  font-size: 18px;
  font-weight: 400;
  color: #555555;
  text-align: justify;
}
.image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .outerContainer {
    padding: 0px 10px;
  }
  .innerContainer {
    text-align: left;
    margin: 0px 10px;
  }
  .innerContainer h2 {
    font-size: 18px;
  }
  .innerContainer p {
    font-size: 16px;
  }
}
