.introduction {
  margin-bottom: 50px;
}
.threeCards {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between; /* Distribute items evenly with space between */
  padding-top: 50px;
  max-width: 90%;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 765px) {
  .threeCards {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .threeCards {
    aliggn-items: center;
    width: 100%;
  }
}
