.SCcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: all 0.3s ease;
}

.schoolImage {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 5px 20px 5px ;

}

.readButton {
    width: 55%;
    text-align: start !important; 
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px !important;
    background-color: black !important ;
    border-color: black !important;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}